@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme {
  /* ================================================================
    COR 'white-custom' (White com Transparências)
    ================================================================
  */
  --color-white-custom: #FFFFFF;        /* DEFAULT */
  --color-white-custom-100: #FFFFFF1A;
  --color-white-custom-200: #FFFFFF4D;
  --color-white-custom-300: #FFFFFF80;
  --color-white-custom-400: #FFFFFFB3;
  --color-white-custom-500: #FFFFFFE6;

  /* ================================================================
    COR 'black-custom' (Black com Transparências)
    ================================================================
  */
  --color-black-custom: #000000;      /* DEFAULT */
  --color-black-custom-100: #0000001A;
  --color-black-custom-200: #0000004D;
  --color-black-custom-300: #00000080;
  --color-black-custom-400: #000000B3;
  --color-black-custom-500: #000000E6;

  /* ================================================================
    COR 'tertiary' (Azul #3184EF com Transparências)
    ================================================================
  */
  --color-tertiary: #3184EF;       /* DEFAULT */
  --color-tertiary-100: #3184EF1A;
  --color-tertiary-200: #3184EF4D;
  --color-tertiary-300: #3184EF80;
  --color-tertiary-400: #3184EFB3;
  --color-tertiary-500: #3184EFE6;

  /* ================================================================
    COR 'quaternary' (Azul #327FE1 com Transparências)
    ================================================================
  */
  --color-quaternary: #327FE1;     /* DEFAULT */
  --color-quaternary-100: #327FE11A;
  --color-quaternary-200: #327FE14D;
  --color-quaternary-300: #327FE180;
  --color-quaternary-400: #327FE1B3;
  --color-quaternary-500: #327FE1E6;

  /* ================================================================
    COR 'quintenary' (Azul Escuro #03184F com Transparências)
    ================================================================
  */
  --color-quintenary: #03184F;     /* DEFAULT */
  --color-quintenary-100: #03184F1A;
  --color-quintenary-200: #03184F4D;
  --color-quintenary-300: #03184F80;
  --color-quintenary-400: #03184FB3;
  --color-quintenary-500: #03184FE6;

  /* ================================================================
    COR 'sixth' (Ciano/Verde #4AB5B4 com Transparências)
    ================================================================
  */
  --color-sixth: #4AB5B4;          /* DEFAULT */
  --color-sixth-100: #4AB5B41A;
  --color-sixth-200: #4AB5B44D;
  --color-sixth-300: #4AB5B480;
  --color-sixth-400: #4AB5B4B3;
  --color-sixth-500: #4AB5B4E6;

  /* ================================================================
    COR 'seventh' (Ciano Claro #8BCDCC com Transparências)
    ================================================================
  */
  --color-seventh: #8BCDCC;        /* DEFAULT */
  --color-seventh-100: #8BCDCC1A;
  --color-seventh-200: #8BCDCC4D;
  --color-seventh-300: #8BCDCC80;
  --color-seventh-400: #8BCDCCB3;
  --color-seventh-500: #8BCDCCE6;

  /* ================================================================
    COR 'ninth' (Cinza Escuro #3B3B3B com Transparências)
    ================================================================
  */
  --color-ninth: #3B3B3B;          /* DEFAULT */
  --color-ninth-100: #3B3B3B1A;
  --color-ninth-200: #3B3B3B4D;
  --color-ninth-300: #3B3B3B80;
  --color-ninth-400: #3B3B3BB3;
  --color-ninth-500: #3B3B3BE6;

  /* ================================================================
    COR 'tenth' (Quase Branco #F6F9F9 com Transparências)
    ================================================================
  */
  --color-tenth: #F6F9F9;          /* DEFAULT */
  --color-tenth-100: #F6F9F91A;
  --color-tenth-200: #F6F9F94D;
  --color-tenth-300: #F6F9F980;
  --color-tenth-400: #F6F9F9B3;
  --color-tenth-500: #F6F9F9E6;

  /* ================================================================
    COR 'eleventh' (Rosa #EB8AB4 com Transparências)
    ================================================================
  */
  --color-eleventh: #EB8AB4;        /* DEFAULT */
  --color-eleventh-100: #EB8AB41A;
  --color-eleventh-200: #EB8AB44D;
  --color-eleventh-300: #EB8AB480;
  --color-eleventh-400: #EB8AB4B3;
  --color-eleventh-500: #EB8AB4E6;

  /* ================================================================
    COR 'twelfth' (Verde Claro #7DE8AD com Transparências)
    ================================================================
  */
  --color-twelfth: #7DE8AD;        /* DEFAULT */
  --color-twelfth-100: #7DE8AD1A;
  --color-twelfth-200: #7DE8AD4D;
  --color-twelfth-300: #7DE8AD80;
  --color-twelfth-400: #7DE8ADB3;
  --color-twelfth-500: #7DE8ADE6;

  /* ================================================================
    COR 'thirteenth' (Verde Claro #000F35 com Transparências)
    ================================================================
  */
  --color-thirteenth: #000F35;        /* DEFAULT */
  --color-thirteenth-100: #000F351A;
  --color-thirteenth-200: #000F354D;
  --color-thirteenth-300: #000F3580;
  --color-thirteenth-400: #000F35B3;
  --color-thirteenth-500: #000F35E6;

  /* ================================================================
     NOVAS DEFINIÇÕES: SHADOWS (Sombra Customizada)
     ================================================================
  */
  --shadow-custom-sm: 0px 0px 10px rgba(0, 0, 0, 0.4); 
  --shadow-custom-md: 0px 0px 10px var(--color-black-custom);
  --shadow-inner-contrast: inset 0px -30px 80px var(--color-black-custom-500);

  /* ================================================================
    FONT FAMILIES (Famílias de Fontes)
    ================================================================
  */

  /* Adiciona a classe 'font-fredoka' */
  --font-fredoka: 'fredoka', sans-serif;

  /* Adiciona a classe 'font-inter' */
  --font-inter: 'inter', sans-serif;
}

  /* ================================================================
    SHADCN (THEME DO SHADCN)
    ================================================================
  */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}