.effectLink::after {
    content: " ";
    display: block;
    width: 0;
    height: 3px;
    background-color: var(--color-tertiary);
    transition: var(--default-transition-duration);

}

.effectLink:hover::after {
    width: 50px;
    transition: var(--default-transition-duration);
}